#share {float: right; margin: 10px 0 10px 30px;}
.btn_facebook, .btn_twitter {
  display: block;
  width: 60px;
  height: 30px;
  background: url('../images/share.png') no-repeat;
  float: left;
}
.btn_facebook {background-position: 0 -30px;}
.btn_facebook:hover {background-position: 0 1px;}
.btn_twitter {background-position: -60px -30px;}
.btn_twitter:hover {background-position: -60px 1px;}